.gridEquipo {
    &-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(12, 150px);
        grid-gap: 15px;
        grid-template-areas: "tresRow" "tresRow" "tresRow" "dosRow1" "dosRow3" "dosRow3" "dosRow2" "dosRow2" "dosRow4" "tresRow2" "tresRow2" "tresRow2";
    }
    &-gridItem.tresRow {
        grid-area: tresRow;
    }
    &-gridItem.tresRow2 {
        grid-area: tresRow2;
    }
    &-gridItem.dosRow1 {
        grid-area: dosRow1;
    }
    &-gridItem.dosRow2 {
        grid-area: dosRow2;
    }
    &-gridItem.dosRow3 {
        grid-area: dosRow3;
    }
    &-gridItem.dosRow4 {
        grid-area: dosRow4;
    }
    @media (min-width: 300px) {
        &-grid {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(6, 150px);
            grid-template-areas: "tresRow dosRow1" "tresRow dosRow3" "tresRow dosRow3" "dosRow2 tresRow2" "dosRow2 tresRow2" "dosRow4  tresRow2";
        }
    }
    @media (min-width: 420px) {
        &-grid {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(6, 150px);
            grid-template-areas: "tresRow dosRow1" "tresRow dosRow3" "tresRow dosRow3" "dosRow2 tresRow2" "dosRow2 tresRow2" "dosRow4  tresRow2";
        }
    }
    @media (min-width: 576px) {
        &-grid {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(4, 150px);
            grid-template-areas: "tresRow dosRow1 tresRow2" "tresRow dosRow3 tresRow2" "tresRow dosRow3 tresRow2" "dosRow2 dosRow4 dsadas";
        }
    }
    @media (min-width: 768px) {
        &-grid {
            grid-template-rows: repeat(4, 190px);
        }
    }
    @media (min-width: 992px) {
        &-grid {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(3, 180px);
            grid-gap: 15px;
            grid-template-areas: "tresRow dosRow1 dosRow2 tresRow2" "tresRow dosRow3 dosRow2 tresRow2" "tresRow dosRow3 dosRow4 tresRow2";
        }
    }
}