.headerPoster {
  @media (min-width: 768px) {
    min-height: 400px;
    height: 100vh
  } 

  &-title {
    font-size: 30px;
    @media (min-width: 768px) {
      font-size: 70px;
    }
  }
} 