@font-face {
    font-family: "SELPHIA";
    src: url("./typo/SELPHIA.OTF");
}

body {
    font-family: "SELPHIA";
}

p {
    font-family: sans-serif;
} 

.text-sand-serif {
    font-family: sans-serif;

}