mixin businessPartnership()
  #businessPartnership.text-gray.position-relative.overflow-hidden-x
    img(data-src="./img/Enmascarar grupo 3.png", alt="").lazy.lazy-bg-loaded.position-absolute.t-0.r-0.w-100.h-100.img-fit.opacity-0.transition

    .d-none.d-lg-block.position-absolute.t-0.r-0.animate__animated(class="aniview fast",  data-av-animation="animate__fadeInRight")
      img(src="./img/piña cortada.png").w-430px.translateY--25p

    .container.p-0.py-5
      .row.no-gutters.py-5
        .col-12.col-lg-8.offset-lg-1.offset-xl-0.px-5.px-lg-0.px-xl-5
          .py-5.animate__animated.animate__animated(class="aniview fast",  data-av-animation="animate__fadeInLeft")
            h2.title-2 Business Partnership
            p.h5.font-weight-normal.w-450px.mw-100 Con el objetivo de tener muchos happy partners hemos adoptado el modelo del GANAR GANAR ¿Cómo funciona? Fácil, nosotros nos encargamos de toda la logística, inversión y operación, tu pones el espacio físico y las licencias y compartimos las ganancias.
            a(href="#").btn.btn-orange-light.px-5.mw-100.mt-3 Saber Más 
            //- .animate__fadeInRight