mixin contacto()
  #contacto.p-5.position-relative.animate__animated.animate__animated(style="background-color: #FFD900;", class="aniview fast",  data-av-animation="animate__fadeIn")
    img(data-src="./img/Fondo contactanos.png", alt="").lazy.position-absolute.t-0.l-0.w-100.h-100.img-fit.opacity-0.transition
    .container
      .row.no-gutters
        .col-12.col-lg-6.offset-lg-6.p-5.center-absolute
          a(href="").btn.btn-white.px-5.py-3(data-toggle="modal", data-target="#exampleModal") Contáctanos 