mixin gridEquipo()
  #equipo.py-5.bg-white.text-gray.text-center
    h2.title-2.mb-5 Equipo
    .container-lg.container-fluid.px-3
      .gridEquipo-grid
        .gridEquipo-gridItem.bg-white-d-4.br-15.tresRow.overflow-hidden
          img(data-src="./img/vasos 1.png", alt="").lazy.opacity-0.transition.w-100.h-100.img-fit
        .gridEquipo-gridItem.bg-white-d-4.br-15.dosRow1.overflow-hidden
          img(data-src="./img/gorra.png", alt="").lazy.opacity-0.transition.w-100.h-100.img-fit
        .gridEquipo-gridItem.bg-white-d-4.br-15.dosRow2.overflow-hidden
          img(data-src="./img/3524766.png", alt="").lazy.opacity-0.transition.w-100.h-100.img-fit
        .gridEquipo-gridItem.bg-white-d-4.br-15.dosRow3.overflow-hidden
          img(data-src="./img/tarjetas de presentacion.png", alt="").lazy.opacity-0.transition.w-100.h-100.img-fit
        .gridEquipo-gridItem.bg-white-d-4.br-15.dosRow4.overflow-hidden
          img(data-src="./img/papeleria.png", alt="").lazy.opacity-0.transition.w-100.h-100.img-fit
        .gridEquipo-gridItem.bg-white-d-4.br-15.tresRow2.overflow-hidden
          img(data-src="./img/vasos 3.png", alt="").lazy.opacity-0.transition.w-100.h-100.img-fit