mixin headerPoster(title, desc, imgs)
  #inicio.headerPoster.pt-NavbarSizes.center-absolute.text-gray(style="background-color: #E4E4E4;").position-relative
    #carouselExampleControls.carousel.slide.w-100.h-100(data-ride="carousel")
      .carousel-inner
        each img, i  in imgs
          .carousel-item(class=`${ i === 0 ? "active" : ""}`)
            img.d-block.w-100.lazy(data-src=img, alt="First slide")
      a.carousel-control-prev(href="#carouselExampleControls", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#carouselExampleControls", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next