mixin headerPoster(title, desc)
  #inicio.headerPoster.pt-NavbarSizes.center-absolute.text-gray(style="background-color: #E4E4E4;").position-relative
    img(data-src="./img/Mesa de trabajo 60.png", alt="").lazy.position-absolute.t-0.l-0.w-100.h-100.img-fit.z-index-0.opacity-0.transition
    .py-5.px-3.my-5.text-center.w-100.z-index-1
      h1.headerPoster-title Lorem, ipsum dolor
      p.w-400px.m-auto.mw-100= desc