mixin loader()
  .fixed-top.w-100.h-100.bg-white.z-index-1050
    .loader
    .position-absolute.loader-center.w-100px.h-100px.center-absolute
      img(src="./img/Piña sin cortar.png", alt="").w-100